name: Deploy Documentation to Cloudflare Pages on merge
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: 'npm ci && npm run docs:build'
      - name: Publish
        uses: cloudflare/pages-action@1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: 'sqlocal-docs'
          directory: '.vitepress/dist'
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
